:root {
  font-size: 16px;
}

.nav.navbar-nav.navbar-right li a{
  font-size: 1.75rem;
}

.blog-wrapper {
  display: grid;
  gap: 1rem ;
  padding: 1rem;
}

.blog-card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.copy-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.copy-container a.section-btn {
  width: 175px;
  align-self: center;
}

@media screen and (min-width: 660px) {
  .blog-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  
}