:root {
  font-size: 16px;
}

.nav.navbar-nav.navbar-right li a,
.social-icon a i{
  font-size: 1.75rem;
}

.about-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 60rem;
  margin: 0 auto;
}

.about-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-wrapper {
  display: grid;
  gap: 1rem ;
  padding: 1rem;
}

.blog-card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.copy-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 0 2rem;
}

.blog-date {
  font-size: 1.1rem;
  /* text-align: right; */
}

p.blog-excerpt {
  font-size: 1.2rem;
}

.copy-container a.section-btn {
  width: 175px;
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .blog-wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .copy-container {
    padding: 0;
  }
  
}

@media screen and (min-width: 992px) {
  .blog-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}